<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzn5oK6M_1SBDZvmJihxQCh96zTHuQ_so</string>
	<key>GCM_SENDER_ID</key>
	<string>161859047952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fluffy.net.fluffy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flaffy-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flaffy-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161859047952:ios:106fde3bc327e0b08cb095</string>
</dict>
</plist>